<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{0,1184},{1334,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{0,434},{1334,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>countdown_numbers.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,32}</string>
                <key>spriteSourceSize</key>
                <string>{240,32}</string>
                <key>textureRect</key>
                <string>{{94,0},{240,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,88}</string>
                <key>spriteSourceSize</key>
                <string>{94,88}</string>
                <key>textureRect</key>
                <string>{{0,0},{94,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_name_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{869,337}</string>
                <key>spriteSourceSize</key>
                <string>{869,337}</string>
                <key>textureRect</key>
                <string>{{691,97},{869,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,42}</string>
                <key>spriteSourceSize</key>
                <string>{300,42}</string>
                <key>textureRect</key>
                <string>{{334,0},{300,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tb_gg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{691,42}</string>
                <key>spriteSourceSize</key>
                <string>{691,42}</string>
                <key>textureRect</key>
                <string>{{0,97},{691,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_field_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,47}</string>
                <key>spriteSourceSize</key>
                <string>{301,47}</string>
                <key>textureRect</key>
                <string>{{634,0},{301,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thrid_part_wx_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,91}</string>
                <key>spriteSourceSize</key>
                <string>{310,91}</string>
                <key>textureRect</key>
                <string>{{935,0},{310,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tiantianQP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,97}</string>
                <key>spriteSourceSize</key>
                <string>{319,97}</string>
                <key>textureRect</key>
                <string>{{1245,0},{319,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loginui.png</string>
            <key>size</key>
            <string>{1564,1934}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76016f3f41b20edd20a37b6581870ffa:1ff7fc9dd0fc9aea15a5424b90525644:6d0807b8b5069de0f8b0cc14674aef51$</string>
            <key>textureFileName</key>
            <string>loginui.png</string>
        </dict>
    </dict>
</plist>
