<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>37.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,405}</string>
                <key>spriteSourceSize</key>
                <string>{540,405}</string>
                <key>textureRect</key>
                <string>{{373,522},{540,405}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{273,58}</string>
                <key>spriteSourceSize</key>
                <string>{281,62}</string>
                <key>textureRect</key>
                <string>{{680,1},{273,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,134}</string>
                <key>spriteSourceSize</key>
                <string>{536,134}</string>
                <key>textureRect</key>
                <string>{{780,105},{536,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>59.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,370}</string>
                <key>spriteSourceSize</key>
                <string>{590,370}</string>
                <key>textureRect</key>
                <string>{{1,522},{590,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,5}</string>
                <key>spriteSize</key>
                <string>{654,61}</string>
                <key>spriteSourceSize</key>
                <string>{666,97}</string>
                <key>textureRect</key>
                <string>{{916,105},{654,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{200,42}</string>
                <key>spriteSourceSize</key>
                <string>{248,124}</string>
                <key>textureRect</key>
                <string>{{722,61},{200,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{196,42}</string>
                <key>spriteSourceSize</key>
                <string>{248,124}</string>
                <key>textureRect</key>
                <string>{{780,61},{196,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{456,40}</string>
                <key>spriteSourceSize</key>
                <string>{460,50}</string>
                <key>textureRect</key>
                <string>{{680,61},{456,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{677,519}</string>
                <key>spriteSourceSize</key>
                <string>{677,519}</string>
                <key>textureRect</key>
                <string>{{1,1},{677,519}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>91.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,60}</string>
                <key>spriteSourceSize</key>
                <string>{300,60}</string>
                <key>textureRect</key>
                <string>{{780,761},{300,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>94.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,60}</string>
                <key>spriteSourceSize</key>
                <string>{300,60}</string>
                <key>textureRect</key>
                <string>{{842,643},{300,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>98.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,60}</string>
                <key>spriteSourceSize</key>
                <string>{300,60}</string>
                <key>textureRect</key>
                <string>{{904,761},{300,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fqzs1.png</string>
            <key>size</key>
            <string>{978,1113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60ca91c78245d6705dbcdd5a3bfa3b84:4958f19661d8f4e5b2f6f89427dc8be8:c2377cb3a4c966a37d9da4cb8802855d$</string>
            <key>textureFileName</key>
            <string>fqzs1.png</string>
        </dict>
    </dict>
</plist>
